* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.red {
    border: 2px solid red;
}

.gr {
    border: 2px solid green;
}

.yw {
    border: 2px solid yellow;
}

.bl {
    border: 2px solid blue;
}

.pp {
    border: 2px solid purple;
}

.bk{
    border: 2px solid black;
}


@font-face {
    font-family: Academy;
    src: url(Viga-Regular.ttf);
}

.full-h {
    min-height: 100vh;
}

.sm-width {
    width: 50%;
    background-color: #87cefa;
}

.first-section {

    /* background-color: white; */
    background-color: #ffffff;
}

.navbar {
    margin-top: 0;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0, 0, 0, 0.151);
}

.min-text-section h4 {
    font-family: Academy;
    font-size: 28px;
    font-weight: 600;
}

.min-text-section h4 span {
    font-family: Academy;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.596);
    font-weight: lighter;
}

.min-text-section h1 {
    font-family: Academy;
    color: black;
    font-size: 85px;
    text-align: center;
}

.min-text-section p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.592);
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    width: 70%;
    line-height: 30px;
}

.learn-more {
    padding: 10px 30px;
    font-family: Academy;
    font-size: 18px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
    transition: .2s all linear;
}

.learn-more:hover {
    padding: 10px 30px;
    font-family: Academy;
    font-size: 18px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 2px solid black;
    transition: .2s all linear;
}

/*  */

.sitc {
    border: none;
}

.sitc a {
    padding: 10px 20px;
    font-family: Academy;
    font-size: 18px;
    background-color: white;
    color: rgb(93, 121, 244);
    border-radius: 5px;
    border: 2px solid rgb(93, 121, 244);
    transition: .2s all linear;
    text-decoration: none;
}


.sitc a:hover {

    padding: 10px 20px;
    font-family: Academy;
    font-size: 18px;
    background-color: rgb(93, 121, 244);
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(93, 121, 244);
    transition: .2s all linear;

}

/*  */

.si {
    border: none;
}

.si a:hover {
    padding: 8px 27px;
    font-family: Academy;
    font-size: 18px;
    background-color: rgb(93, 121, 244);
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(93, 121, 244);
    transition: .2s all linear;
}

.si a {
    padding: 8px 27px;
    font-family: Academy;
    font-size: 18px;
    background-color: white;
    color: rgb(93, 121, 244);
    border-radius: 5px;
    border: 2px solid rgb(93, 121, 244);
    transition: .2s all linear;
    text-decoration: none;
}

/* ------------------------------------------------------------- sign-in ------------------------------------------------------------------------------ */



.page-signin {
    min-height: 550px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

/* .sign-in-section {} */

.left-img-section {
    min-height: 550px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.right-text-section {
    min-height: 500px;
}

.right-text-section span {
    font-family: Academy;
    font-size: 18px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

.right-text-section h4 {
    font-family: Academy;
    font-size: 30px;
    color: black;
}

.right-text-section h6 {
    font-family: Academy;
    font-size: 12px;
    color: black;

}


.first-name-in {
    padding: 10px 170px 10px 10px;
    border: 1px solid black;
    font-family: Academy;
}

.last-name-in {
    padding: 10px 170px 10px 10px;
    border: 1px solid black;
    font-family: Academy;
}

.email-in {
    padding: 10px 170px 10px 10px;
    border: 1px solid black;
    font-family: Academy;
}

.password-in {
    padding: 10px 170px 10px 10px;
    border: 1px solid black;
    font-family: Academy;
}

/* ---------------------- */

.signin-form.incorrect input {
    display: flex;
    border: 2px solid red !important;
}

/* ------------------------ */

.right-text-section {
    font-size: 13px;
}

.crn {
    width: 80%;
}

.crn p {
    font-size: 15px;
    margin-top: 12px;
}

.crn a {

    text-decoration: none;
    font-style: 20px;

}

.crn button {
    padding: 8px 20px;
    font-size: 15px;
    font-family: Academy;
    color: white;
    background-color: rgb(93, 121, 244);
    border: 2px solid rgb(93, 121, 244);
    transition: .2s all linear;
}

.crn button:hover {
    padding: 8px 20px;
    font-size: 15px;
    font-family: Academy;
    color: rgb(93, 121, 244);
    background-color: white;
    border: 2px solid rgb(93, 121, 244);
    transition: .2s all linear;
}


/* --------------------------------------------------------------dashboard-section------------------------------------------------------- */

/* .mian-dashboard {} */

.left-button-section {
    background-color: black;
}

.top-lbs-section {
    min-height: 13%;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.26);
}

.bottom-lbs-section {
    min-height: 87%;
    width: 100%;
}


.bi-house-door {
    color: black;
    background-color: white;
    font-size: 20px;
    border:none;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
    margin-right: 5px;
    transition: .2s all linear;
}

.bi-house-door:hover{
    background-color:#87cefa;
    color:white;
    transition: .2s all linear;
    
}

.profile-btn{
    width: 40px;
    height: 40px;
    background-color: white;
    padding:5px 5px ;
    border-radius: 10px;
    margin-right: 5px;
    transition: .2s all linear;
    border: none;
}


.top-rcs-section {
    width: 100%;
    min-height: 13%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}

.category-section {
    width: 100%;
    min-height: 87%;

}

/* --------------------------------------------------------------------------- */

.students-card {
    height: 300px;
    /* border-radius: 20px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.card-students-section {
    width: 100%;
    height: 80%;
}

.card-students-section h2 {
    font-family: Academy;
}

.card-students-section p {
    font-family: Academy;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.379);
}

.students-next-section {
    width: 100%;
    height: 20%;
    background-image: url(img/patern-2.jpg);
    background-position: center;
}

.students-next-section button {
    border: none;
    border-radius: 10px;
}


.students-next-section button i {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    background-color: white;
    border: 4px solid black;
    border-radius: 10px;
    padding: 10px;
    transition: .2s all linear;
}

.students-next-section button i:hover {
    display: flex;
    text-decoration: none;
    color:#87cefa;
    background-color: white;
    border: 4px solid #87cefa;
    transition: .2s all linear;

}

/* ------------------------------------------------------------------------------------------- */

.teacher-card {
    height: 300px;
    /* border-radius: 20px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.card-teacher-section {
    width: 100%;
    height: 80%;
}

.card-teacher-section h2 {
    font-family: Academy;
}

.card-teacher-section p {
    font-family: Academy;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.379);
}

.teacher-next-section {
    width: 100%;
    height: 20%;
    background-image: url(img/patern-2.jpg);
    background-position: center;
}

.teacher-next-section button {
    border: none;
    border-radius: 10px;
}


.teacher-next-section button i {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    background-color: white;
    border: 4px solid black;
    border-radius: 10px;
    padding: 10px;
    transition: .2s all linear;
}

.teacher-next-section button i:hover {
    display: flex;
    text-decoration: none;
    color:#87cefa;
    background-color: white;
    border: 4px solid #87cefa;
    transition: .2s all linear;

}

/* ---------------------------------------------------------------------------------------------------------------------------- */

.admin-card {
    height: 300px;
    /* border-radius: 20px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.card-admin-section {
    width: 100%;
    height: 80%;
}

.card-admin-section h2 {
    font-family: Academy;
}

.card-admin-section p {
    font-family: Academy;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.379);
}

.admin-next-section {
    width: 100%;
    height: 20%;
    background-image: url(img/patern-2.jpg);
    background-position: center;
}

.admin-next-section button {
    border: none;
    border-radius: 10px;
}


.admin-next-section button i {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    background-color: white;
    border: 4px solid black;
    border-radius: 10px;
    padding: 10px;
    transition: .2s all linear;
}

.admin-next-section button i:hover {
    display: flex;
    text-decoration: none;
    color:#87cefa;
    background-color: white;
    border: 4px solid #87cefa;
    transition: .2s all linear;

}



/* ------------------------------------------------------------------------------------------------------------------------------ */

.add-card {
    height: 300px;
    /* border-radius: 20px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.card-add-section {
    width: 100%;
    height: 80%;
}

.card-add-section h2 {
    font-family: Academy;
}

.card-add-section p {
    font-family: Academy;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.379);
}

.card-next-section {
    width: 100%;
    height: 20%;
    background-image: url(img/patern-2.jpg);
    background-position: center;
}

.card-next-section button {
    border: none;
    border-radius: 10px;
}


.card-next-section button i {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    background-color: white;
    border: 4px solid black;
    border-radius: 10px;
    padding: 10px;
    transition: .2s all linear;
}

.card-next-section button i:hover {
    display: flex;
    text-decoration: none;
    color:#87cefa;
    background-color: white;
    border: 4px solid #87cefa;
    transition: .2s all linear;

}

/* ------------------------------------------------access-page-------------------------------------------------------------------------- */

/* ---------------------pop-key-section------------------- */

#key-popUp{
    width: 400px;
    min-height: 400px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: none !important;
    z-index: 1111111;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background-color: white;
    padding: 10px;
    gap: 5px;
}
#key-popUp.showPopUp {
    display: flex !important;
    z-index: 1111111;
    flex-direction: column;
}

#key-popUp h2{

    font-family: Academy;
    font-size: 22px;

}

#key-popUp p{
    font-family: Academy;
    font-size: 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.658);
    width: 90%;
}


/*----------------- */


#cancel-button{
    display: flex;
    position: absolute;
    margin: 0;
    padding: 2px 10px;
    border: 4px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    top: 20px;
    right: 20px;
    transition: .2s all linear;
}

#cancel-button:hover{
    color: white;
    background-color: red;
    border: 4px solid red;
    transition: .2s all linear;
}

#accessKeyInput{
    width: 84%;
    height: 40px;
    display: flex;
    padding: 10px 5px;
    border: none;
    font-size: 13px;
}

#accessbutton{
    display: flex;
    padding: 8px 20px;
    background-color: black;
    color: white;
    border: none;
}

/* ------------------------------------------------------profile-page---------------------------------------------------------------------- */

.left-access-section{
    background-color: black;
}

.top-las-section {
    min-height: 13%;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.26);
}

.top-ras-section {
    width: 100%;
    min-height: 13%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}

.bottom-ras-section {
    width: 100%;
    min-height: 87%;

}

#key-access  {
    padding: 10px 30px;
    font-family: Academy;
    font-size: 18px;
    background-color:white;
    color: rgb(93, 121, 244) ;
    border-radius: 5px;
    border: 2px solid rgb(93, 121, 244);
    transition: .2s all linear;
}

#key-access:hover {
    padding: 10px 30px;
    font-family: Academy;
    font-size: 18px;
    background-color: rgb(93, 121, 244);
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(93, 121, 244);
    transition: .2s all linear;
}


.bottom-ras-section h1{
    font-size: 50px;
    font-family: Academy;
}

.bottom-ras-section p{
    font-size: 16px;
    font-family: Academy;
    text-align: center;
    width: 70%;
}

/* ---------------profile-section------------- */

.top-rps-section {
    width: 100%;
    min-height: 13%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}

.profile-section {
    width: 100%;
    min-height: 87%;

}

.profile-photo-setion{
    min-height: 100%;
    position: relative;


}

.profile-photo-setion img{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background-color: rgb(241, 240, 240);
    object-fit: scale-down;
    object-position: center;
    
}

.profile-photo-setion h1{
    font-family: Academy;
    color:black;
    font-size: 50px;
}

.profile-photo-setion h3{
    font-family: Academy;
    color:rgba(0, 0, 0, 0.628);
    font-size: 15px;
    /* letter-spacing: 1px; */
}

.log-out-btn{
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-family: Academy;
    border: 3px solid black;
    border-radius: 10px;
    transition: .2s all linear;
    position: absolute;
    top: 20px;
    left: 20px;

}

.log-out-btn:hover{
background-color:white;
color:black;
border: 2px solid black;    
transition: .3s all linear;
}


